%h1 GitReview
%h5
	=  "Welcome #{current_user.email}"
%p
%p
	.float-right.btn= link_to "Log Out", destroy_user_session_path, method: 'delete'
= form_tag(reviews_path, :method => "get", id: "search-form") do
	= text_field_tag :search, params[:search], placeholder: "Search Repositories"
	= submit_tag "Search"
	%br
	- if @github.present?
		=# link_to "Comment on #{@github1}", new_review_path(github_id: @github1_id, user: @github1.match(/\A[a-zA-Z0-9]+/).to_s, repo: @github1.match(/[a-zA-Z0-9]+\z/).to_s)

		=# link_to "Show reviews for #{@github1}", review_path(id: params[:id], github_id: @github1_id)
		%br
		%br
		= link_to "Comment on #{@github2}", new_review_path(github_id: @github2_id, user: @github2.match(/\A[a-zA-Z0-9]+/).to_s, repo: @github2.match(/[a-zA-Z0-9]+\z/).to_s)

		= link_to "Show reviews for #{@github2}", review_path(id: params[:id], github_id: @github2_id)
		%br
		%br
		=# link_to "Comment on #{@github3}", new_review_path(user: @github3.match(/\A[a-zA-Z0-9]+/).to_s, repo: @github3.match(/[a-zA-Z0-9]+\z/).to_s)

		=# link_to "Show reviews for #{@github3}", review_path(id: params[:id], github_id: @github3_id)
		%br
		%br
		=# link_to "Comment on #{@github4}", new_review_path(title: @github4.match(/\A[a-zA-Z0-9]+/).to_s, author: @github4.match(/[a-zA-Z0-9]+\z/).to_s)
		%br
		%br
		=# link_to "Comment on #{@github5}", new_review_path(title: @github5.match(/\A[a-zA-Z0-9]+/).to_s, author: @github5.match(/[a-zA-Z0-9]+\z/).to_s)
	= link_to "Log Out", destroy_user_session_path, method: 'delete'







